# Ignore the GoogleService-Info.plist file in the PPTAMinimal directory
**/GoogleService-Info.plist

# Ignore files
*.log
*.xcuserstate

# Ignore everything in a directory
PPTAMinimal.xcodeproj/
xcuserdata/

# Ignore specific file types in a folder
logs/*.txt

# Ignore specific folders or files
.DS_Store
PPTAMinimal/.DS_Store

# Ignore a file except for a specific one
!important.log

# Ignore all files starting with "temp"
temp*
